#content {
    margin-left: 10px;
    padding-bottom: 100px;
    padding: 20px;
   }

#message {
    width: 200px;
    margin-left: 300px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
   }

#menu{
    width: 200px;
    float: left;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-top: 10px;
   }

#divElement{
    position: absolute;
    top: 35%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}


#bts{
    position: absolute;
    top: 130%;
    left: 45%;

}​​

.layer {
    padding: 10px;
   }

.error {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

