{% extends "base.html" %}

{% block content %}
{% if results %}

 <table>
  <tr>
    <th>Student</th>
    <th>Subject</th>
    <th>Planed</th>
    <th>Semester</th>
  </tr>
 {% for r in results %}
  <tr>
     <td>{{ r.student }}</td>
        <td>{{ r.subject }}</td>
        <td>{{ r.planed }}</td>
        <td>{{ r.semester }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
    No results...
{% endif %}
{% endblock content%}