{% extends "base.html" %}

 {% block content %}

     <hr/>
<a href="/messages/{{ post.id }}">My messages</a>
<p>{{ post.txt }}</p>
<p>{{ post.published_at }}


{% for t in comments %}

<a href="/messages/{{ t.id }}"></a>
<p>{{ t.sender }}</p>
<p>{{ t.text }}</p>
<p>{{ t.date }}</p>
    <hr/>

{% endfor %}

{% endblock content%}



