{% extends "base.html" %}

 {% block content %}


<h1>Settings</h1>
<img src = "{{ form.photo.value }}"/>
<form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="save"/>

</form>
{% endblock content%}