{% extends "base.html" %}

 {% block content %}
          <p>Picture: {{ user.photo}}</p>

     <img src = "{{ user.photo}}"/>
     <p>First name: {{ username.first_name}}</p>
     <p>Second name: {{ username.last_name}}</p>
     <p>Login: {{ username.username}}</p>
     <p>Status: {{ user.user_status}}</p>
     <p>Languages: {%for classroom in user.class_room.all %}
         {{ classroom.language }}&nbsp;&nbsp;
     {% endfor %} </p>
     <p>Classes: {%for classroom in user.class_room.all %}
         {{ classroom.name }}&nbsp;&nbsp;
     {% endfor %} </p>
{% endblock content%}