{% extends "base.html" %}

 {% block content %}

<div id="content">
<div id = "message"></div>

            <p>{{ current_task.title }}</p>

            <head>
              <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
              <script>tinymce.init({ selector:'textarea' });</script>
            </head>



           <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="save"/>
        </form>

            <p>&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;</p>

     </div>
{% endblock content%}