{% extends "base.html" %}

{% block content %}

    <div id="content">
        <body>

        {% for t in comments %}

        <a href="/tasks/{{ t.task.id }}">{{ t.sender }}</a>
        <p>{{ t.text }}</p>
        <p>{{ t.date }}</p>
            <hr/>

        {% endfor %}
        </body>

    </div>

{% endblock content%}