{% extends "base.html" %}

{% block content %}
     {% if s == 'S'  %}
        <div class="alert alert-success" onclick="">
          <a class="close" data-dismiss="alert">×</a>
          <strong>Success!</strong>You have successfully done it.
        </div>
     {% endif %}
     <div id="content">

            <p><input name="task_titlt_text_field" type="text" value="Task_title"></p>

            <head>
              <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
              <script>tinymce.init({ selector:'textarea' });</script>
            </head>
        <form id="myform" method="post">
             {% csrf_token %}
            <body>
              <textarea name="textarea"></textarea>
            </body>

            <input type="submit" value="Send"/>
        </form>
     </div>

{% endblock content%}