{% extends "base.html" %}


 {% block content %}

     {% if s == 'S'  %}
        <div class="alert alert-success" onclick="">
          <a class="close" data-dismiss="alert">×</a>
          <strong>Success!</strong>You have successfully done it.
        </div>
     {% endif %}

</div>
     <body scroll="yes">
      <div id="content">

           <head>
              <h2>{{ current_task.title }}</h2>
           </head>

            <p>{{ current_task.task_type }}</p>
            <p>{{ current_task.text }}</p>
                 <p>Start Date: {{ current_task.start_date }}</p>
                 <p>End Date: {{ current_task.end_date }}</p>


      {% if current_task.task_type == 'Listening' %}
      <audio controls="controls" loop="loop">
        <source src="{{ path }}" type="audio/mp3" />
      </audio>
      {% endif %}

      {% if current_task.task_type == 'Watching' %}
      <video width="400" height="300" controls="controls" >
        <source src="{{ path }}"
                type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      </video>
      {% endif %}

       <form method="POST" id="post-form">
       <p>&nbsp;&nbsp;</p>
       <p><input type="submit" class="btn btn-info" name="Solve" value="Solve task" ></p>
       <p>&nbsp;&nbsp;</p>
       <p style="font-size: 20px;">Comments</p>
            <hr/>
            {% csrf_token %}
                 <div class="fieldWrapper" id="the_post">
                      {{ form.text }}
                     </div>
                 <div id="the_post_re">Reciver&nbsp;&nbsp;{{ form.reciver }}</div>

                <p><input class="btn btn-info" type="submit" name="post_comment" value="Post"></p>
        </form>

            {% for comment in comments %}
                <hr/>
                <p>{{ comment.text }}</p>
                <p>{{ comment.date }}</p>
                <p>Send:{{ comment.sender }}</p>
            {% endfor %}
     <p>&nbsp;&nbsp;</p>
     <p>&nbsp;&nbsp;</p>
      </div>
     </body>

{% endblock content%}