 {% load staticfiles %}
<head>

  <meta charset="utf-8">


<script type="text/javascript" src="{% static 'js/task/statics_teacher.js' %}"></script>
</head>

<body>

<div id="content">
<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
    {% if student_answers %}
		<tr>
			<td>&nbsp;&nbsp;</td>
			<td>&nbsp;Student name&nbsp;</td>
			<td>&nbsp;Type&nbsp;</td>
			<td>&nbsp;Done&nbsp;</td>
			<td>&nbsp;Send Date&nbsp;</td>
            <td>&nbsp;Mark&nbsp;</td>
		</tr>
    {% endif %}
		{% for r in student_answers %}
             <tr onmouseover="ChangeColor(this, true);"
              onmouseout="ChangeColor(this, false);"
             onclick="DoNav('/task_check/task_{{ r.task.id }}_student_{{ r.student.user.username }}')">

                <td>&nbsp;{{r.student.user.id }}&nbsp;</td>
                <td>&nbsp;{{r.student.user.username}}&nbsp;</td>
                <td>&nbsp;{{ r.task.task_type }}&nbsp;</td>
                {% if r.text %}
                     <td>&nbsp;+&nbsp;</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                <td>&nbsp;{{ r.send_date }}&nbsp;</td>

             {% for m in marks %}
                {% if m.task == r.task and m.student == r.student %}
                 <td>{{ m.mark }}</td>
                 {% else %}

                {% endif %}

             {% endfor %}



           <!-- <th ><a href="#" class="remove_field">&nbsp;&nbsp;Remove&nbsp;&nbsp;</a></th> -->

            </tr>



         {% endfor %}

	</tbody>
</table>
     </div>


 </body>