{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

 <body>
<script type="text/javascript" src="{% static 'js/task/statics_teacher.js' %}"></script>
<div id="content">
<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td>&nbsp;&nbsp;Task&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;Data Start&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;Data End&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;Type&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;Mark&nbsp;&nbsp;</td>
		</tr>
		{% for t in tasks %}
            <tr onmouseover="ChangeColor(this, true);"
              onmouseout="ChangeColor(this, false);"
              onclick="DoNav('/tasks/{{ t.id }}');">
                <td>&nbsp;&nbsp;{{ t.title }}&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;{{ t.start_date }}&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;{{ t.end_date }}&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;{{ t.task_type }}&nbsp;&nbsp;</td>
                {% for m in marks %}
                {% if m.task == t and user == m.student%}
                 <td>&nbsp;{{ m.mark }}&nbsp;</td>

                {% endif %}
             {% endfor %}
            </tr>
         {% endfor %}

	</tbody>
</table>
 </div>


 </body>
{% endblock content %}