{% extends "base.html" %}

{% block content %} 

<div id="menu">
  <table  border="1">
               <tr>
                   <td>
                       <div class="layer">
                           Task&nbsp;&nbsp;
                           <select>
                                 <option>Animals</option>
                                 <option>Kitchen</option>
                           </select>
                        <br>
                          <p>Start Date&nbsp;&nbsp;<input name="start_date_text_field" type="text" value="27.11.2015"></p>
                          <p>End Date&nbsp;&nbsp;<input name="end_date_text_field" type="text" value="29.11.2015"></p>

                           Test
                           <hr/>
                           <p>Attempt's amount&nbsp;&nbsp;<input name="start_date_text_field" type="text" value="3"></p>
                           <p>Date&nbsp;&nbsp;<input name="end_date_text_field" type="datetime" value="29.11.2015 16:00"></p>
                           <p>Time&nbsp;&nbsp;<input name="start_date_text_field" type="text" value="10"></p>
                       </div>
                   </td>
               </tr>
   </table>
 </div>
 {% include "task/task_watched_words.html" %}
 </body>

{% endblock content %}