{% extends "base.html" %}

 {% block content %}

     <div id="content">
         <h2>Test</h2>
          <form id="myform" method="post">
                {% csrf_token %}
                {% for w in words %}
                        <p>{{w.first_language }}&nbsp;&nbsp;<input name="answer_text{{ w.id }}" type="text" ></p>
                 {% endfor %}
                <input type="submit" value="send"/>
        </form>

     </div>

{% endblock content%}