{% extends "base.html" %}

{% block content %}


<div id="content">
                <table border="1" cellpadding="1" cellspacing="1">
                    <tbody>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td>Student name</td>
                            <td>28.11.2015</td>
                            <td>29.11.2015</td>
                            <td>30.11.2015</td>
                        </tr>
                            <tr>
                                <td>&nbsp;&nbsp;</td>
                                <td>yasina</td>
                                <td>+</td>
                                <td></td>
                                <td>+</td>
                            </tr>
                    </tbody>
                </table>
                     &nbsp;&nbsp;
                     &nbsp;&nbsp;
                <table border="1" cellpadding="1" cellspacing="1">
                    <tbody>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td>Student name</td>
                            <td>Attempt</td>
                            <td>Score</td>

                        </tr>

                            <tr>
                                <td>&nbsp;&nbsp;</td>
                                <td>yasina</td>
                                <td>3</td>
                                <td>7/10</td>
                            </tr>

                    </tbody>
                </table>
</div>

 {% endblock content %}