{% extends "base.html" %}

 {% block content %}

     <div id="content">

            <p><input name="task_titlt_text_field" type="text" value="Task_title"></p>
            <p>Send Date&nbsp;&nbsp;<input name="start_date_text_field" type="text" value="27.11.2015"></p>

            <head>
              <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
              <script>tinymce.init({ selector:'textarea' });</script>
            </head>

            <body>
              <textarea>My teeeeeeext</textarea>
            </body>

            <p>Mark&nbsp;&nbsp;<input name="start_date_text_field" type="text" value="9"></p>
            <input type="submit" value="Send"/>

     </div>
{% endblock content%}