{% extends "base.html" %}

 {% block content %}

     <div id="content">

            <h2>{{ current_task.title }}</h2>
            <p>Send Date&nbsp;&nbsp; 27.12.2015</p>

            <head>
              <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
              <script>tinymce.init({ selector:'textarea' });</script>
            </head>


            <body>
            <form method="POST" id="post-form">
                 {% csrf_token %}
                    <div class="fieldWrapper" id="the_post">
                    {{ form.text }}
                     </div>
                    <p>&nbsp;&nbsp;</p>
                    <p>Mark&nbsp;&nbsp;{{ form.mark }}</p>
                    <p>&nbsp;&nbsp;</p>
                    <input type="submit" name="Send" value="Post"/>
                    <p>&nbsp;&nbsp;</p>
                    <p>&nbsp;&nbsp;</p>

                </form>
            </body>


     </div>
{% endblock content%}