{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body style="padding:0px; margin:0px; background-color:#fff;">
    <script type="text/javascript" src={% static "js/task/jssor.slider.min.js" %}></script>
    <script type="text/javascript" src={% static "task/js/words_sl.js" %}></script>
    <style type="text/css" src={% static "task/css/words_sl.css" %}></style>

    <div id="jssor_1" style="position: relative;
    margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px;
    overflow: hidden; visibility: hidden;">

        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 			100%;">
	    </div>
            <div style="position:absolute;display:block;background:url('/media/loading.gif') no-repeat center		                                  center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
            {% for t in current_task %}
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="/media/white.jpg" />

                <div style="position: absolute; top: 120px; left: 500px; width: 480px; height: 120px;
                font-size: 50px; color: #000; line-height: 60px;">{{ t.first_language }}</div>
                <div style="position: absolute; top: 200px; left: 500px; width: 480px; height:
                 120px; font-size: 30px; color: #000;
                 line-height: 38px;"> [ {{ t.transcriptions }} ]
                </div>
                <div style="position: absolute; top: 260px; left: 500px; width: 480px; height:
                 120px; font-size: 30px; color: #000;
                 line-height: 38px;">{{ t.second_language }}
                </div>

            </div>
            {% endfor %}

        </div>


    </div>
    <script>
        jssor_1_slider_init();
    </script>

        <form id="myform" method="post">
                {% csrf_token %}
                <p>&nbsp;&nbsp;</p>
                <p><input class="btn btn-info" name="flag" type="submit" value="Solve test"
                        style="position: absolute;top: 510px; left: 750px;"/></p>
        </form>
        <form action="{% url 'statistics'  %}">
         <p><input class="btn btn-info" type="submit" value="Back to main"
                        style="position: absolute;top: 510px; left: 850px;"/></p>
        </form>


</body>
{% endblock content%}