{% extends "base.html" %}

 {% block content %}

     <div id="content">

            <p>{{ current_task.title }}</p>

            <head>
              <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
              <script>tinymce.init({ selector:'textarea' });</script>
            </head>

            <body>
            <form method="POST" id="post-form">
                 {% csrf_token %}
                    <div class="fieldWrapper" id="the_post">
                    {{ form.text }}
                     </div>
                    <input type="submit" name="Send" value="Post"/>
                </form>
            </body>



     </div>
{% endblock content%}