{% extends "base.html" %}

 {% block content %}

     <div id="divElement" >
             <h2>Your score:</h2>
             <h3>{{ score }}</h3>
             <p>&nbsp;&nbsp;</p>
         <form id="myform" method="post">
              {% csrf_token %}
             <p></p><input class="btn btn-info" name="back"  type="submit" value="Try again"/></p>
         </form>
             <p>&nbsp;&nbsp;</p>
          <form action="{% url 'statistics' %}">
              <p><input type="submit" class="btn btn-info" value="Back to statistics"/></p>
          </form>
     </div>

{% endblock content%}