{% extends "base.html" %}

{% block content %}

<body>

    <div id="content">
        {% for t in tasks %}

            <a href="/tasks/{{ t.id }}">{{ t.title }}</a>

            <p>{{ t.task_type }}</p>
            <p>From {{ t.start_date }} To {{ t.end_date }}</p>
                <hr/>

        {% endfor %}
    </div>
</body>

{% endblock content%}