{% extends "base.html" %}

 {% block content %}

     <div id="content" >

     <h2>Test</h2>


      <form method="POST" id="post-form">
      {% csrf_token %}
            {% for t in current_task %}
            {{ t.test_name }}&nbsp;&nbsp;
             <p>
             {% for testv in q3 %}
                 {% if t.test_name == testv.task_test.test_name %}
                 <input type="radio" name="option{{ t.id }}[]" value="{{ testv.variant_name }}">{{ testv.variant_name }}<Br>
                 {% endif %}
             {% endfor %}
             </p>
             {% endfor %}


     <p>&nbsp;&nbsp;</p>
     <p><input type="submit" name='send' value="Post"/></p>
     <p>&nbsp;&nbsp;</p>
     <p>&nbsp;&nbsp;</p>
      </form>

     </div>

{% endblock content%}