{% extends "first.html" %}

{% block content %}


    <div id="divElement">
        <form method="POST" id="post-form">
                {% csrf_token %}

                {{ form.as_p }}

                <p>&nbsp;&nbsp;</p>
                <p><input class="btn btn-info"  name="login" type="submit" value="Login"/></p>

        </form>
        <form action="{% url 'signup' %}">
                <p>&nbsp;&nbsp;</p>
                <p><input class="btn btn-info" type="submit" value="Sign up"/></p>
            </form>
    </div>

{% endblock content%}

