{% extends "base.html" %}

{% block content %}

    <div id="content">

        <h1>Settings</h1>


        <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             <img style="" src="media/{{ form.photo.value }}">
            <p>&nbsp;&nbsp;</p>
            {{ form.as_p }}
            <input type="submit" class="btn btn-info" value="Save"/>
        </form>
     <p>&nbsp;&nbsp;</p>
     <p>&nbsp;&nbsp;</p>
    </div>

{% endblock content%}

