{% extends "first.html" %}

{% block content %}
    {%for error in errors%}
    <p>{{ error }}</p>
{% endfor %}

{% load static %}
    <script type="text/javascript" src="{% static 'common_functions/js/password_valid.js' %}"></script>
    <div id="content" >
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

             <p>&nbsp;&nbsp;</p>
            <input id="Save"class="btn btn-info" type="submit" value="Save" />
        </form>
    </div>



{% endblock content%}
