<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}"/>
    <script type="text/javascript" src="{% static 'js/task/messages_alerts.js' %}"></script>
  </head>


<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="header">

               <table width="100%">
                   <tr>
                       <td>Class&nbsp;&nbsp;<select name="class_chooser_statistics">
                        {%for classroom in user.class_room.all %}
                              <option>{{ classroom }}</option>
                        {% endfor %}
                         </select>
                       </td>
                    <td class="h1">
                           <div class="navbar-header">
                                <a href="#" class="navbar-brand">LearnLang</a>
                            </div>
                    </td>
                    <td align="right" >{{ user.user.username }}</td>
                   </tr>
                </table>
               <div align="right">{{ user.user_status }}</div>

        </div>
    <div>

    <u1 class="nav navbar-nav">

                <li class="active"><a href="/statistics/">Statistics</a></li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if user.user_status == 'Student' %}
                            <li><a href="{% url 'task' %}">All Tasks</a></li>
                        {% else %}
                            <li><a href="{% url 'add_task' %}">Add Tasks</a></li>
                            <li><a href="{% url 'task' %}">All homeworks</a></li>
                        {% endif %}

                    </ul>
                </li>

                <li><a href="{% url 'messages' %}">Messages</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/comments_to_admin">Connection with admin</a></li>

    </u1>

    <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>

    </div>
    </div>
</nav>

 <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">

    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">(c) ITIS, 2015</a></li>
      </ul>
    </div>
  </div>
  </nav>

 {% block content %} {% endblock content %}
</body>
</html>