<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}"/>

  </head>

<body>
{%for error in errors%}
    <p>{{ error }}</p>
{% endfor %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="header">

               <table width="100%">
                   <tr>

                    <td class="h1">
                           <div class="navbar-header">
                                <a href="#" class="navbar-brand">LearnLang</a>
                            </div>
                    </td>

                   </tr>
                </table>

        </div>
    <div>


    </div>
    </div>
</nav>


 <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">

    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">(c) ITIS, 2015</a></li>
      </ul>
    </div>
  </div>
  </nav>

 {% block content %} {% endblock content %}
</body>
</html>