 #content {
    margin-left: 230px;
    padding-bottom: 100px;
    padding: 20px;
   }

  #menu {
    width: 200px;
    float: left;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-top: 10px;
   }

   .layer {
    padding: 10px;
   }